## 문자열: '

In [2]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [4]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

## 문자열: \ 이용

In [5]:
food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [6]:
say = "\"Python is very easy.\" he says."
say

'"Python is very easy." he says.'

## 문자열: 이스케이프 코드 이용

In [7]:
multiline = "Life is too short\nYou need python"
multiline
print(multiline)

Life is too short
You need python

## 문자열 연산: 더하기

In [20]:
head = "Python"

In [21]:
tail = " is fun!"

In [22]:
head + tail

'Python is fun!'

## 문자열 연산: 곱하기

In [23]:
a = "python"

In [24]:
a * 2

'pythonpython'

In [25]:
print("=" * 50)

==================================================

In [26]:
print("I am now coding Python!")

I am now coding Python!

In [27]:
print("=" * 50)

==================================================

In [29]:
print("문자열 연산: 길이 구하기 - len()")

문자열 연산: 길이 구하기 - len()

In [30]:
a = "Life is too short"

In [31]:
len(a)

17

## 문자열: 인덱싱이란?

In [32]:
a = "Life is too short, You need Python"

In [33]:
a[3]

'e'

In [35]:
a[15]

'r'

## 문자열: 인덱싱 활용

In [36]:
a = "Life is too short, You need Python"

In [37]:
a[0]

'L'

In [38]:
a[12]

's'

In [39]:
a[-1]

'n'

In [40]:
a[-2]

'o'

In [41]:
a[-5]

'y'

In [42]:
a[-12]

' '

## 문자열: 슬라이싱이란?

In [43]:
a = "Life is too short, You need Python"

In [44]:
b = a[0] + a[1] + a[2] + a[3]  # 문자열 뎌하기 연산

In [45]:
b

'Life'

In [46]:
a[0:4]

'Life'

In [47]:
a[0:5]

'Life '

In [48]:
a[5:7]

'is'

In [49]:
a[12:17]

'short'

In [50]:
a[:4]

'Life'

In [51]:
a[19:]

'You need Python'

In [52]:
a[:17]

'Life is too short'

In [53]:
a[:]

'Life is too short, You need Python'

In [54]:
a[:]

'Life is too short, You need Python'

## 문자열: 슬라이싱 응용?

In [55]:
a = "20190909Sunny"

In [56]:
date = a[:8]

In [57]:
weather = a[8:]

In [58]:
date

'20190909'

In [59]:
weather

'Sunny'

In [61]:
a = "20190917Rainy"

In [62]:
year = a[:4]

In [63]:
day = a[4:8]

In [64]:
weather = a[8:]

In [65]:
year,day,weather

('2019', '0917', 'Rainy')

In [66]:
a = "Pithon"

In [67]:
a[1]

'i'

In [72]:
a = "Pithon"

In [73]:
a[:1]

'P'

In [74]:
a[2:]

'thon'

In [75]:
a[:1] + 'y' + a[2:]

'Python'

## 문자열: 포매팅이란?

In [76]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [77]:
"I eat %s apples." % "five"

'I eat five apples.'

In [78]:
number = 3

In [79]:
"I eat %d apples." % number

'I eat 3 apples.'

In [80]:
number = 10

In [81]:
day = "three"

In [82]:
"I ate %d apples. so I was sick for %s days." % number

TypeError: not enough arguments for format string

In [83]:
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

## 문자열: 포맷 코드

In [84]:
"I have %s apples" % 3

'I have 3 apples'

In [85]:
"rate is %s" % 3.234

'rate is 3.234'

In [86]:
"Error is %d%." % 98

ValueError: incomplete format

In [87]:
"Error is %d%%." % 98

'Error is 98%.'

## 문자열: 포맷 코드와 숫자 함께 사용하기

In [88]:
"%10s" % "hi"

'        hi'

In [89]:
"%-10sjane." % "hi"

'hi        jane.'

In [90]:
"%0.4f" % 3.42134234

'3.4213'

In [91]:
"%10.4f" % 3.42134234

'    3.4213'

## 문자열: format 함수를 사용한 포매팅

In [92]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [93]:
"I eat {0} {1} apples".format(3, 4)

'I eat 3 4 apples'

In [94]:
"I eat {0} apples".format("five")

'I eat five apples'

In [95]:
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

In [96]:
number = 3

In [97]:
"I eat {0} apples".format(number)

'I eat 3 apples'

In [98]:
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

In [99]:
number = 10

In [100]:
day = "three"

In [101]:
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [102]:
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [103]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)
# 인덱스와 이름을 혼용해서 넣기

'I ate 10 apples. so I was sick for 3 days.'

In [104]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [105]:
"{0:<10}".format("hi")

'hi        '

In [106]:
"{0:>10}".format("hi")

'        hi'

In [107]:
"{0:^10}".format("hi")

'    hi    '

In [108]:
"{0:=^10}".format("hi")

'====hi===='

In [109]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [114]:
y = 3.42134234

In [115]:
"{0:0.4f}".format(y)

'3.4213'

In [116]:
"{0:10.4f}".format(y)

'    3.4213'

In [117]:
"{{ and }}".format()

'{ and }'

## 문자열: f 문자열 포매팅

In [118]:
name = "홍길동"

In [119]:
age = 30

In [120]:
"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 {name}입니다. 나이는 {age}입니다.'

In [121]:
age = 30

In [122]:
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [123]:
d = {"name": "홍길동", "age": 30}

In [124]:
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [125]:
f'{"hi":<10}'  # 왼쪽 정렬

'hi        '

In [126]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [127]:
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

In [128]:
y = 3.42134234

In [129]:
f"{y:0.4f}"  # 소수점 4자리까지만 표현

'3.4213'

In [130]:
f"{y:10.4f}"  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

In [131]:
f"{{ and }}"

'{ and }'

## 문자열: 관련 내장 함수들

In [132]:
a = "hobby"

In [133]:
a.count("b")

2

In [134]:
a = "Python is the best choice"

In [135]:
a.find("b")

14

In [136]:
a.find("k")  # what value?

-1

In [137]:
a = "Life is too short"

In [138]:
a.index("t")

8

In [158]:
a.index("k")

ValueError: substring not found

In [140]:
",".join("abcd")

'a,b,c,d'

In [141]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

In [142]:
a = "hi"

In [143]:
a.upper()

'HI'

In [144]:
a = "IoT"

In [145]:
a.lower()

'iot'

In [146]:
a = " hi "

In [147]:
a.lstrip()

'hi '

In [148]:
a.rstrip()

' hi'

In [149]:
a.strip()

'hi'

In [150]:
a = "Life is too short"

In [151]:
a.replace("Life", "Your leg")

'Your leg is too short'

In [152]:
a = "Life is too short"

In [153]:
a.split()

['Life', 'is', 'too', 'short']

In [154]:
b = "a:b:c:d"

In [155]:
b.split(":")

['a', 'b', 'c', 'd']

In [156]:
"{0:!^12}".format("python")

'!!!python!!!'

In [157]:
f'{"python":!^12}'

'!!!python!!!'