### ch2.note4.tuple.ipynb by PA25

## 튜플: tuple 이란?

In [ ]:
even = (2, 4, 6, 8)
# 여러 가지 튜플
t1 = ()  # 튜플 초기화
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ("a", "b", ("ab", "cd"))

In [1]:
t1 = (1, 2, "a", "b")

In [2]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [3]:
t1[0] = "c"

TypeError: 'tuple' object does not support item assignment

## 튜플: 사용방법

In [4]:
t1 = (1, 2, "a", "b")

In [5]:
t1[0]

1

In [6]:
t1[-1]

'b'

In [7]:
t1 = (1, 2, "a", "b")
t1[1:]
t1[2:-1]  # ('a',)
t1[2:]

('a', 'b')

In [8]:
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [9]:
t2 = (3, 4)
id(t2)
t2 * 3
id(t2)
t2 = t2 * 3
id(t2)

3080868728736

In [10]:
t1 = (1, 2, "a", "b")
len(t1)

4